.drawerItem {
    padding: 0 16px 16px 16px;
    background-color: white;
}

.url {
    color: black;
    text-decoration: underline;
}

.bold {
    font-weight: 700;
}

.buttonContainer {
    padding: 4px;
}